.examples {
  margin: 1em; }

.example {
  background-color: #e6c4e6;
  border: 1px solid black;
  display: inline-block; }

h4 {
  margin-top: 0;
  padding-top: 0; }

.code {
  white-space: pre;
  background-color: #e8f8d6;
  border: 1px solid black;
  display: inline-block;
  font-family: monospace;
  font-size: 1.2em; }

/* Default theme */
/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../img/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../img/bg-input.png") repeat-x 0 0;
  outline: 0; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background: url("../img/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block; }
  div.selector.fixedWidth {
    width: 190px; }
    div.selector.fixedWidth span {
      width: 155px; }
  div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0px;
    width: 100%; }
  div.selector.active {
    background-position: 0 -156px; }
    div.selector.active span {
      background-position: right -26px; }
  div.selector.hover, div.selector.focus {
    background-position: 0 -182px; }
    div.selector.hover span, div.selector.focus span {
      background-position: right -52px; }
    div.selector.hover.active, div.selector.focus.active {
      background-position: 0 -208px; }
      div.selector.hover.active span, div.selector.focus.active span {
        background-position: right -78px; }
  div.selector.disabled, div.selector.disabled.active {
    background-position: 0 -234px; }
    div.selector.disabled span, div.selector.disabled.active span {
      background-position: right -104px; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
    div.checker span.checked {
      background-position: -76px -260px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -19px -260px; }
    div.checker.active span.checked {
      background-position: -95px -260px; }
  div.checker.hover span, div.checker.focus span {
    background-position: -38px -260px; }
    div.checker.hover span.checked, div.checker.focus span.checked {
      background-position: -114px -260px; }
  div.checker.hover.active span, div.checker.focus.active span {
    background-position: -57px -260px; }
    div.checker.hover.active span.checked, div.checker.focus.active span.checked {
      background-position: -133px -260px; }
  div.checker.disabled, div.checker.disabled.active {
    background-position: -152px -260px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: -171px -260px; }

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 18px;
    height: 18px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -279px; }
    div.radio span.checked {
      background-position: -72px -279px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.active span {
    background-position: -18px -18px -279px; }
    div.radio.active span.checked {
      background-position: -90px -279px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -36px -36px -279px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -108px -279px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -54px -279px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -126px -279px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -144px -279px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -162px -279px; }

/* Uploader */
div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 82px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 85px;
    padding: 0 10px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uploader.active span.action {
    background-position: right -465px; }
  div.uploader.hover, div.uploader.focus {
    background-position: 0 -353px; }
    div.uploader.hover span.action, div.uploader.focus span.action {
      background-position: right -437px; }
    div.uploader.hover.active span.action, div.uploader.focus.active span.action {
      background-position: right -493px; }
  div.uploader.disabled, div.uploader.disabled.active {
    background-position: 0 -325px; }
    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
      background-position: right -381px; }

/* Buttons */
div.button {
  background-position: 0 -641px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 22px;
    text-align: center;
    background-position: right -521px;
    height: 22px;
    margin-left: 13px;
    padding: 8px 15px 0 2px; }
  div.button.active {
    background-position: 0 -671px; }
    div.button.active span {
      background-position: right -551px;
      cursor: default; }
  div.button.hover, div.button.focus {
    background-position: 0 -701px; }
    div.button.hover span, div.button.focus span {
      background-position: right -581px; }
  div.button.disabled, div.button.disabled.active {
    background-position: 0 -731px; }
    div.button.disabled span, div.button.disabled.active span {
      background-position: right -611px;
      cursor: default; }

/* INPUT & TEXTAREA */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #777;
  border-top: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  input.uniform-input.hover, input.uniform-input.focus,
  select.uniform-multiselect.hover,
  select.uniform-multiselect.focus,
  textarea.uniform.hover,
  textarea.uniform.focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999; }

/* PRESENTATION */
/* Buttons */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }
div.button.hover span, div.button.focus span {
  color: #555; }
div.button.disabled span, div.button.disabled.active span {
  color: #bbb; }

/* Select */
div.selector {
  font-size: 12px; }
  div.selector span {
    color: #666;
    text-shadow: 0 1px 0 white; }
  div.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  div.selector.disabled span, div.selector.disabled.active span {
    color: #bbb; }

/* Checker */
div.checker {
  margin-right: 5px; }

/* Radio */
div.radio {
  margin-right: 3px; }

/* Uploader */
div.uploader span.action {
  text-shadow: white 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold; }
div.uploader span.filename {
  color: #777;
  border-right: solid 1px #bbbbbb;
  font-size: 11px; }
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa; }
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa; }

input.uniform-input, input.uniform-input:focus {
  background-color: #fff; }

/* Include multiple other themes */
/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: MIT
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/
/* General settings */
div.uniform-agent.selector, div.uniform-agent.selector span, div.uniform-agent.checker span, div.uniform-agent.radio span, div.uniform-agent.uploader, div.uniform-agent.uploader span.action, div.uniform-agent.button, div.uniform-agent.button span {
  background-image: url("../img/sprite-agent.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.uniform-agent.selector, div.uniform-agent.checker, div.uniform-agent.button, div.uniform-agent.radio, div.uniform-agent.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.uniform-agent.selector:focus, div.uniform-agent.checker:focus, div.uniform-agent.button:focus, div.uniform-agent.radio:focus, div.uniform-agent.uploader:focus {
    outline: 0; }
div.uniform-agent.selector, div.uniform-agent.selector *, div.uniform-agent.radio, div.uniform-agent.radio *, div.uniform-agent.checker, div.uniform-agent.checker *, div.uniform-agent.uploader, div.uniform-agent.uploader *, div.uniform-agent.button, div.uniform-agent.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../img/bg-input-agent.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
span.uniform-agent input.uniform-input,
span.uniform-agent select.uniform-multiselect,
span.uniform-agent textarea.uniform {
  padding: 4px;
  background: url("../img/bg-input-agent.png") repeat-x 0 0;
  outline: 0; }
  span.uniform-agent input.uniform-input.active,
  span.uniform-agent select.uniform-multiselect.active,
  span.uniform-agent textarea.uniform.active {
    background: url("../img/bg-input-agent-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.uniform-agent.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.uniform-agent.selector {
  background-position: 0 -160px;
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 12px;
  position: relative;
  overflow: hidden; }
  div.uniform-agent.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 32px;
    line-height: 32px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block; }
  div.uniform-agent.selector.fixedWidth {
    width: 190px; }
    div.uniform-agent.selector.fixedWidth span {
      width: 153px; }
  div.uniform-agent.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 25px;
    top: 4px;
    left: 0px;
    width: 100%; }
  div.uniform-agent.selector.active {
    background-position: 0 -192px; }
    div.uniform-agent.selector.active span {
      background-position: right -32px; }
  div.uniform-agent.selector.hover, div.uniform-agent.selector.focus {
    background-position: 0 -224px; }
    div.uniform-agent.selector.hover span, div.uniform-agent.selector.focus span {
      background-position: right -64px; }
    div.uniform-agent.selector.hover.active, div.uniform-agent.selector.focus.active {
      background-position: 0 -256px; }
      div.uniform-agent.selector.hover.active span, div.uniform-agent.selector.focus.active span {
        background-position: right -96px; }
  div.uniform-agent.selector.disabled, div.uniform-agent.selector.disabled.active {
    background-position: 0 -288px; }
    div.uniform-agent.selector.disabled span, div.uniform-agent.selector.disabled.active span {
      background-position: right -128px; }

/* Checkbox */
div.uniform-agent.checker {
  position: relative; }
  div.uniform-agent.checker, div.uniform-agent.checker span, div.uniform-agent.checker input {
    width: 23px;
    height: 23px; }
  div.uniform-agent.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -320px; }
    div.uniform-agent.checker span.checked {
      background-position: -92px -320px; }
  div.uniform-agent.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.uniform-agent.checker.active span {
    background-position: -23px -320px; }
    div.uniform-agent.checker.active span.checked {
      background-position: -115px -320px; }
  div.uniform-agent.checker.hover span, div.uniform-agent.checker.focus span {
    background-position: -46px -320px; }
    div.uniform-agent.checker.hover span.checked, div.uniform-agent.checker.focus span.checked {
      background-position: -138px -320px; }
  div.uniform-agent.checker.hover.active span, div.uniform-agent.checker.focus.active span {
    background-position: -69px -320px; }
    div.uniform-agent.checker.hover.active span.checked, div.uniform-agent.checker.focus.active span.checked {
      background-position: -161px -320px; }
  div.uniform-agent.checker.disabled, div.uniform-agent.checker.disabled.active {
    background-position: -184px -320px; }
    div.uniform-agent.checker.disabled span.checked, div.uniform-agent.checker.disabled.active span.checked {
      background-position: -207px -320px; }

/* Radio */
div.uniform-agent.radio {
  position: relative; }
  div.uniform-agent.radio, div.uniform-agent.radio span, div.uniform-agent.radio input {
    width: 23px;
    height: 23px; }
  div.uniform-agent.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -343px; }
    div.uniform-agent.radio span.checked {
      background-position: -92px -343px; }
  div.uniform-agent.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.uniform-agent.radio.active span {
    background-position: -23px -18px -343px; }
    div.uniform-agent.radio.active span.checked {
      background-position: -115px -343px; }
  div.uniform-agent.radio.hover span, div.uniform-agent.radio.focus span {
    background-position: -46px -36px -343px; }
    div.uniform-agent.radio.hover span.checked, div.uniform-agent.radio.focus span.checked {
      background-position: -138px -343px; }
  div.uniform-agent.radio.hover.active span, div.uniform-agent.radio.focus.active span {
    background-position: -69px -343px; }
    div.uniform-agent.radio.hover.active span.checked, div.uniform-agent.radio.focus.active span.checked {
      background-position: -161px -343px; }
  div.uniform-agent.radio.disabled span, div.uniform-agent.radio.disabled.active span {
    background-position: -184px -343px; }
    div.uniform-agent.radio.disabled span.checked, div.uniform-agent.radio.disabled.active span.checked {
      background-position: -207px -343px; }

/* Uploader */
div.uniform-agent.uploader {
  background-position: 0 -366px;
  height: 32px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uniform-agent.uploader span.action {
    background-position: right -494px;
    height: 32px;
    line-height: 32px;
    width: 90px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uniform-agent.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 32px;
    margin: 0px 0 0px 4px;
    line-height: 32px;
    width: 76px;
    padding: 0 10px; }
  div.uniform-agent.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uniform-agent.uploader.active span.action {
    background-position: right -558px; }
  div.uniform-agent.uploader.hover, div.uniform-agent.uploader.focus {
    background-position: 0 -430px; }
    div.uniform-agent.uploader.hover span.action, div.uniform-agent.uploader.focus span.action {
      background-position: right -526px; }
    div.uniform-agent.uploader.hover.active span.action, div.uniform-agent.uploader.focus.active span.action {
      background-position: right -590px; }
  div.uniform-agent.uploader.disabled, div.uniform-agent.uploader.disabled.active {
    background-position: 0 -398px; }
    div.uniform-agent.uploader.disabled span.action, div.uniform-agent.uploader.disabled.active span.action {
      background-position: right -462px; }

/* Buttons */
div.uniform-agent.button {
  background-position: 0 -750px;
  height: 32px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.uniform-agent.button a, div.uniform-agent.button button, div.uniform-agent.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.uniform-agent.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 24px;
    text-align: center;
    background-position: right -622px;
    height: 24px;
    margin-left: 13px;
    padding: 9px 15px 0 2px; }
  div.uniform-agent.button.active {
    background-position: 0 -782px; }
    div.uniform-agent.button.active span {
      background-position: right -654px;
      cursor: default; }
  div.uniform-agent.button.hover, div.uniform-agent.button.focus {
    background-position: 0 -814px; }
    div.uniform-agent.button.hover span, div.uniform-agent.button.focus span {
      background-position: right -686px; }
  div.uniform-agent.button.disabled, div.uniform-agent.button.disabled.active {
    background-position: 0 -846px; }
    div.uniform-agent.button.disabled span, div.uniform-agent.button.disabled.active span {
      background-position: right -718px;
      cursor: default; }

span.uniform-agent input.uniform-input,
span.uniform-agent select.uniform-multiselect,
span.uniform-agent textarea.uniform {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  background-color: #434343;
  border-top: solid 1px #1a1a1a;
  border-left: solid 1px #1a1a1a;
  border-bottom: solid 1px #1c1c1c;
  border-right: solid 1px #1c1c1c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  span.uniform-agent input.uniform-input.hover, span.uniform-agent input.uniform-input.focus,
  span.uniform-agent select.uniform-multiselect.hover,
  span.uniform-agent select.uniform-multiselect.focus,
  span.uniform-agent textarea.uniform.hover,
  span.uniform-agent textarea.uniform.focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999;
    background-color: #575757; }

div.uniform-agent.button span {
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase; }
div.uniform-agent.button.disabled span, div.uniform-agent.button.disabled.active span {
  color: #bbb; }

/* Select */
div.uniform-agent.selector {
  font-weight: bold;
  color: #464545;
  font-size: 14px; }
  div.uniform-agent.selector span {
    padding: 0 25px 0 0;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 1px 0 white; }
  div.uniform-agent.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: solid 1px white; }
  div.uniform-agent.selector.disabled span, div.uniform-agent.selector.disabled.active span {
    color: #bbb; }

/* Checker */
div.uniform-agent.checker {
  margin-right: 10px; }

/* Radio */
div.uniform-agent.radio {
  margin-right: 10px; }

/* Uploader */
div.uniform-agent.uploader {
  margin-bottom: 20px;
  cursor: pointer; }
  div.uniform-agent.uploader span.action {
    text-align: center;
    text-shadow: #1a1a1a 0px 1px 0px;
    background-color: #fff;
    font-weight: bold;
    color: #ffffff; }
  div.uniform-agent.uploader span.filename {
    color: #777;
    font-size: 11px; }
  div.uniform-agent.uploader.disabled span.action, div.uniform-agent.uploader.disabled.active span.action {
    color: #aaa; }
  div.uniform-agent.uploader.disabled span.filename, div.uniform-agent.uploader.disabled.active span.filename {
    border-color: #ddd;
    color: #aaa; }

/*

Uniform Theme: Aristo
Version: 1.1
By: 280North / Ported by Josh Pyles
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.uniform-aristo.selector, div.uniform-aristo.selector span, div.uniform-aristo.checker span, div.uniform-aristo.radio span, div.uniform-aristo.uploader, div.uniform-aristo.uploader span.action, div.uniform-aristo.button, div.uniform-aristo.button span {
  background-image: url("../img/sprite-aristo.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.uniform-aristo.selector, div.uniform-aristo.checker, div.uniform-aristo.button, div.uniform-aristo.radio, div.uniform-aristo.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.uniform-aristo.selector:focus, div.uniform-aristo.checker:focus, div.uniform-aristo.button:focus, div.uniform-aristo.radio:focus, div.uniform-aristo.uploader:focus {
    outline: 0; }
div.uniform-aristo.selector, div.uniform-aristo.selector *, div.uniform-aristo.radio, div.uniform-aristo.radio *, div.uniform-aristo.checker, div.uniform-aristo.checker *, div.uniform-aristo.uploader, div.uniform-aristo.uploader *, div.uniform-aristo.button, div.uniform-aristo.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../img/bg-input-aristo.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
span.uniform-aristo input.uniform-input,
span.uniform-aristo select.uniform-multiselect,
span.uniform-aristo textarea.uniform {
  padding: 4px;
  background: url("../img/bg-input-aristo.png") repeat-x 0 0;
  outline: 0; }
  span.uniform-aristo input.uniform-input.active,
  span.uniform-aristo select.uniform-multiselect.active,
  span.uniform-aristo textarea.uniform.active {
    background: url("../img/bg-input-focus-aristo.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.uniform-aristo.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.uniform-aristo.selector {
  background-position: 0 -160px;
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.uniform-aristo.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 32px;
    line-height: 32px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block; }
  div.uniform-aristo.selector.fixedWidth {
    width: 190px; }
    div.uniform-aristo.selector.fixedWidth span {
      width: 155px; }
  div.uniform-aristo.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 24px;
    top: 4px;
    left: 0px;
    width: 100%; }
  div.uniform-aristo.selector.active {
    background-position: 0 -192px; }
    div.uniform-aristo.selector.active span {
      background-position: right -32px; }
  div.uniform-aristo.selector.hover, div.uniform-aristo.selector.focus {
    background-position: 0 -224px; }
    div.uniform-aristo.selector.hover span, div.uniform-aristo.selector.focus span {
      background-position: right -64px; }
    div.uniform-aristo.selector.hover.active, div.uniform-aristo.selector.focus.active {
      background-position: 0 -256px; }
      div.uniform-aristo.selector.hover.active span, div.uniform-aristo.selector.focus.active span {
        background-position: right -96px; }
  div.uniform-aristo.selector.disabled, div.uniform-aristo.selector.disabled.active {
    background-position: 0 -288px; }
    div.uniform-aristo.selector.disabled span, div.uniform-aristo.selector.disabled.active span {
      background-position: right -128px; }

/* Checkbox */
div.uniform-aristo.checker {
  position: relative; }
  div.uniform-aristo.checker, div.uniform-aristo.checker span, div.uniform-aristo.checker input {
    width: 23px;
    height: 23px; }
  div.uniform-aristo.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -320px; }
    div.uniform-aristo.checker span.checked {
      background-position: -92px -320px; }
  div.uniform-aristo.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.uniform-aristo.checker.active span {
    background-position: -23px -320px; }
    div.uniform-aristo.checker.active span.checked {
      background-position: -115px -320px; }
  div.uniform-aristo.checker.hover span, div.uniform-aristo.checker.focus span {
    background-position: -46px -320px; }
    div.uniform-aristo.checker.hover span.checked, div.uniform-aristo.checker.focus span.checked {
      background-position: -138px -320px; }
  div.uniform-aristo.checker.hover.active span, div.uniform-aristo.checker.focus.active span {
    background-position: -69px -320px; }
    div.uniform-aristo.checker.hover.active span.checked, div.uniform-aristo.checker.focus.active span.checked {
      background-position: -161px -320px; }
  div.uniform-aristo.checker.disabled, div.uniform-aristo.checker.disabled.active {
    background-position: -184px -320px; }
    div.uniform-aristo.checker.disabled span.checked, div.uniform-aristo.checker.disabled.active span.checked {
      background-position: -207px -320px; }

/* Radio */
div.uniform-aristo.radio {
  position: relative; }
  div.uniform-aristo.radio, div.uniform-aristo.radio span, div.uniform-aristo.radio input {
    width: 23px;
    height: 23px; }
  div.uniform-aristo.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -343px; }
    div.uniform-aristo.radio span.checked {
      background-position: -92px -343px; }
  div.uniform-aristo.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.uniform-aristo.radio.active span {
    background-position: -23px -18px -343px; }
    div.uniform-aristo.radio.active span.checked {
      background-position: -115px -343px; }
  div.uniform-aristo.radio.hover span, div.uniform-aristo.radio.focus span {
    background-position: -46px -36px -343px; }
    div.uniform-aristo.radio.hover span.checked, div.uniform-aristo.radio.focus span.checked {
      background-position: -138px -343px; }
  div.uniform-aristo.radio.hover.active span, div.uniform-aristo.radio.focus.active span {
    background-position: -69px -343px; }
    div.uniform-aristo.radio.hover.active span.checked, div.uniform-aristo.radio.focus.active span.checked {
      background-position: -161px -343px; }
  div.uniform-aristo.radio.disabled span, div.uniform-aristo.radio.disabled.active span {
    background-position: -184px -343px; }
    div.uniform-aristo.radio.disabled span.checked, div.uniform-aristo.radio.disabled.active span.checked {
      background-position: -207px -343px; }

/* Uploader */
div.uniform-aristo.uploader {
  background-position: 0 -366px;
  height: 32px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uniform-aristo.uploader span.action {
    background-position: right -494px;
    height: 32px;
    line-height: 32px;
    width: 90px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uniform-aristo.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 4px 0 4px 4px;
    line-height: 24px;
    width: 76px;
    padding: 0 10px; }
  div.uniform-aristo.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uniform-aristo.uploader.active span.action {
    background-position: right -558px; }
  div.uniform-aristo.uploader.hover, div.uniform-aristo.uploader.focus {
    background-position: 0 -430px; }
    div.uniform-aristo.uploader.hover span.action, div.uniform-aristo.uploader.focus span.action {
      background-position: right -526px; }
    div.uniform-aristo.uploader.hover.active span.action, div.uniform-aristo.uploader.focus.active span.action {
      background-position: right -590px; }
  div.uniform-aristo.uploader.disabled, div.uniform-aristo.uploader.disabled.active {
    background-position: 0 -398px; }
    div.uniform-aristo.uploader.disabled span.action, div.uniform-aristo.uploader.disabled.active span.action {
      background-position: right -462px; }

/* Buttons */
div.uniform-aristo.button {
  background-position: 0 -750px;
  height: 32px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.uniform-aristo.button a, div.uniform-aristo.button button, div.uniform-aristo.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.uniform-aristo.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 22px;
    text-align: center;
    background-position: right -622px;
    height: 22px;
    margin-left: 13px;
    padding: 5px 15px 5px 2px; }
  div.uniform-aristo.button.active {
    background-position: 0 -782px; }
    div.uniform-aristo.button.active span {
      background-position: right -654px;
      cursor: default; }
  div.uniform-aristo.button.hover, div.uniform-aristo.button.focus {
    background-position: 0 -814px; }
    div.uniform-aristo.button.hover span, div.uniform-aristo.button.focus span {
      background-position: right -686px; }
  div.uniform-aristo.button.disabled, div.uniform-aristo.button.disabled.active {
    background-position: 0 -846px; }
    div.uniform-aristo.button.disabled span, div.uniform-aristo.button.disabled.active span {
      background-position: right -718px;
      cursor: default; }

/* INPUT & TEXTAREA */
span.uniform-aristo input.uniform-input,
span.uniform-aristo select.uniform-multiselect,
span.uniform-aristo textarea.uniform {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #777;
  background-color: #a1cbe2;
  border-top: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  span.uniform-aristo input.uniform-input.hover, span.uniform-aristo input.uniform-input.focus,
  span.uniform-aristo select.uniform-multiselect.hover,
  span.uniform-aristo select.uniform-multiselect.focus,
  span.uniform-aristo textarea.uniform.hover,
  span.uniform-aristo textarea.uniform.focus {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-color: #999;
    background-color: #a1cbe2; }

/* Uploader */
div.uniform-aristo.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase; }
div.uniform-aristo.button.hover span, div.uniform-aristo.button.focus span {
  color: #555; }
div.uniform-aristo.button.disabled span, div.uniform-aristo.button.disabled.active span {
  color: #bbb; }

/* Select */
div.uniform-aristo.selector {
  font-weight: bold;
  color: #464545;
  font-size: 14px; }
  div.uniform-aristo.selector span {
    color: #666;
    text-shadow: 0 1px 0 white; }
  div.uniform-aristo.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: solid 1px white; }
  div.uniform-aristo.selector.disabled span, div.uniform-aristo.selector.disabled.active span {
    color: #bbb; }

/* Checker */
div.uniform-aristo.checker {
  margin-right: 10px; }

/* Radio */
div.uniform-aristo.radio {
  margin-right: 10px; }

div.uniform-aristo.uploader span.action {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background-color: #fff;
  font-weight: bold;
  color: #1c4257; }
div.uniform-aristo.uploader span.filename {
  color: #777;
  font-size: 11px; }
div.uniform-aristo.uploader.disabled span.action, div.uniform-aristo.uploader.disabled.active span.action {
  color: #aaa; }
div.uniform-aristo.uploader.disabled span.filename, div.uniform-aristo.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa; }

/*

Uniform Theme: Crayon
Version: 2.0
By: Tyler Akins
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.uniform-jeans.selector, div.uniform-jeans.selector span, div.uniform-jeans.checker span, div.uniform-jeans.radio span, div.uniform-jeans.uploader, div.uniform-jeans.uploader span.action, div.uniform-jeans.button, div.uniform-jeans.button span {
  background-image: url("../img/sprite-jeans.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.uniform-jeans.selector, div.uniform-jeans.checker, div.uniform-jeans.button, div.uniform-jeans.radio, div.uniform-jeans.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.uniform-jeans.selector:focus, div.uniform-jeans.checker:focus, div.uniform-jeans.button:focus, div.uniform-jeans.radio:focus, div.uniform-jeans.uploader:focus {
    outline: 0; }
div.uniform-jeans.selector, div.uniform-jeans.selector *, div.uniform-jeans.radio, div.uniform-jeans.radio *, div.uniform-jeans.checker, div.uniform-jeans.checker *, div.uniform-jeans.uploader, div.uniform-jeans.uploader *, div.uniform-jeans.button, div.uniform-jeans.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../img/bg-input-jeans.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
span.uniform-jeans input.uniform-input,
span.uniform-jeans select.uniform-multiselect,
span.uniform-jeans textarea.uniform {
  padding: 3px;
  background: url("../img/bg-input-jeans.png") repeat-x 0 0;
  outline: 0; }
  span.uniform-jeans input.uniform-input.active,
  span.uniform-jeans select.uniform-multiselect.active,
  span.uniform-jeans textarea.uniform.active {
    background: url("../img/bg-input-focus-jeans.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.uniform-jeans.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Select */
div.uniform-jeans.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.uniform-jeans.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block; }
  div.uniform-jeans.selector.fixedWidth {
    width: 190px; }
    div.uniform-jeans.selector.fixedWidth span {
      width: 155px; }
  div.uniform-jeans.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0px;
    width: 100%; }
  div.uniform-jeans.selector.active {
    background-position: 0 -156px; }
    div.uniform-jeans.selector.active span {
      background-position: right -26px; }
  div.uniform-jeans.selector.hover, div.uniform-jeans.selector.focus {
    background-position: 0 -182px; }
    div.uniform-jeans.selector.hover span, div.uniform-jeans.selector.focus span {
      background-position: right -52px; }
    div.uniform-jeans.selector.hover.active, div.uniform-jeans.selector.focus.active {
      background-position: 0 -208px; }
      div.uniform-jeans.selector.hover.active span, div.uniform-jeans.selector.focus.active span {
        background-position: right -78px; }
  div.uniform-jeans.selector.disabled, div.uniform-jeans.selector.disabled.active {
    background-position: 0 -234px; }
    div.uniform-jeans.selector.disabled span, div.uniform-jeans.selector.disabled.active span {
      background-position: right -104px; }

/* Checkbox */
div.uniform-jeans.checker {
  position: relative; }
  div.uniform-jeans.checker, div.uniform-jeans.checker span, div.uniform-jeans.checker input {
    width: 19px;
    height: 19px; }
  div.uniform-jeans.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
    div.uniform-jeans.checker span.checked {
      background-position: -76px -260px; }
  div.uniform-jeans.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.uniform-jeans.checker.active span {
    background-position: -19px -260px; }
    div.uniform-jeans.checker.active span.checked {
      background-position: -95px -260px; }
  div.uniform-jeans.checker.hover span, div.uniform-jeans.checker.focus span {
    background-position: -38px -260px; }
    div.uniform-jeans.checker.hover span.checked, div.uniform-jeans.checker.focus span.checked {
      background-position: -114px -260px; }
  div.uniform-jeans.checker.hover.active span, div.uniform-jeans.checker.focus.active span {
    background-position: -57px -260px; }
    div.uniform-jeans.checker.hover.active span.checked, div.uniform-jeans.checker.focus.active span.checked {
      background-position: -133px -260px; }
  div.uniform-jeans.checker.disabled, div.uniform-jeans.checker.disabled.active {
    background-position: -152px -260px; }
    div.uniform-jeans.checker.disabled span.checked, div.uniform-jeans.checker.disabled.active span.checked {
      background-position: -171px -260px; }

/* Radio */
div.uniform-jeans.radio {
  position: relative; }
  div.uniform-jeans.radio, div.uniform-jeans.radio span, div.uniform-jeans.radio input {
    width: 18px;
    height: 18px; }
  div.uniform-jeans.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -279px; }
    div.uniform-jeans.radio span.checked {
      background-position: -72px -279px; }
  div.uniform-jeans.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.uniform-jeans.radio.active span {
    background-position: -18px -18px -279px; }
    div.uniform-jeans.radio.active span.checked {
      background-position: -90px -279px; }
  div.uniform-jeans.radio.hover span, div.uniform-jeans.radio.focus span {
    background-position: -36px -36px -279px; }
    div.uniform-jeans.radio.hover span.checked, div.uniform-jeans.radio.focus span.checked {
      background-position: -108px -279px; }
  div.uniform-jeans.radio.hover.active span, div.uniform-jeans.radio.focus.active span {
    background-position: -54px -279px; }
    div.uniform-jeans.radio.hover.active span.checked, div.uniform-jeans.radio.focus.active span.checked {
      background-position: -126px -279px; }
  div.uniform-jeans.radio.disabled span, div.uniform-jeans.radio.disabled.active span {
    background-position: -144px -279px; }
    div.uniform-jeans.radio.disabled span.checked, div.uniform-jeans.radio.disabled.active span.checked {
      background-position: -162px -279px; }

/* Uploader */
div.uniform-jeans.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uniform-jeans.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 82px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uniform-jeans.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 22px;
    margin: 2px 0 4px 2px;
    line-height: 22px;
    width: 85px;
    padding: 0 10px; }
  div.uniform-jeans.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uniform-jeans.uploader.active span.action {
    background-position: right -465px; }
  div.uniform-jeans.uploader.hover, div.uniform-jeans.uploader.focus {
    background-position: 0 -353px; }
    div.uniform-jeans.uploader.hover span.action, div.uniform-jeans.uploader.focus span.action {
      background-position: right -437px; }
    div.uniform-jeans.uploader.hover.active span.action, div.uniform-jeans.uploader.focus.active span.action {
      background-position: right -493px; }
  div.uniform-jeans.uploader.disabled, div.uniform-jeans.uploader.disabled.active {
    background-position: 0 -325px; }
    div.uniform-jeans.uploader.disabled span.action, div.uniform-jeans.uploader.disabled.active span.action {
      background-position: right -381px; }

/* Buttons */
div.uniform-jeans.button {
  background-position: 0 -641px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.uniform-jeans.button a, div.uniform-jeans.button button, div.uniform-jeans.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  div.uniform-jeans.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 22px;
    text-align: center;
    background-position: right -521px;
    height: 22px;
    margin-left: 12px;
    padding: 8px 15px 0 2px; }
  div.uniform-jeans.button.active {
    background-position: 0 -671px; }
    div.uniform-jeans.button.active span {
      background-position: right -551px;
      cursor: default; }
  div.uniform-jeans.button.hover, div.uniform-jeans.button.focus {
    background-position: 0 -701px; }
    div.uniform-jeans.button.hover span, div.uniform-jeans.button.focus span {
      background-position: right -581px; }
  div.uniform-jeans.button.disabled, div.uniform-jeans.button.disabled.active {
    background-position: 0 -731px; }
    div.uniform-jeans.button.disabled span, div.uniform-jeans.button.disabled.active span {
      background-position: right -611px;
      cursor: default; }

/* INPUT & TEXTAREA */
span.uniform-jeans input.uniform-input,
span.uniform-jeans select.uniform-multiselect,
span.uniform-jeans textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFE000;
  border-top: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  span.uniform-jeans input.uniform-input:focus,
  span.uniform-jeans select.uniform-multiselect:focus,
  span.uniform-jeans textarea.uniform:focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999; }

/* PRESENTATION */
/* Buttons */
div.uniform-jeans.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFE000; }
div.uniform-jeans.button.hover span, div.uniform-jeans.button.focus span {
  color: #FFE000; }
div.uniform-jeans.button.disabled span, div.uniform-jeans.button.disabled.active span {
  color: #FFE000; }

/* Select */
div.uniform-jeans.selector {
  font-size: 12px; }
  div.uniform-jeans.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  div.uniform-jeans.selector span {
    color: #FFE000;
    text-shadow: 0 1px 0 black; }
  div.uniform-jeans.selector.disabled span, div.uniform-jeans.selector.disabled.active span {
    color: #FFE000; }

/* Checker */
div.uniform-jeans.checker {
  margin-right: 5px; }

/* Radio */
div.uniform-jeans.radio {
  margin-right: 3px; }

/* Uploader */
div.uniform-jeans.uploader span.action {
  text-shadow: black 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
  color: #FFE000; }
div.uniform-jeans.uploader span.filename {
  color: #FFE000;
  font-size: 11px;
  border-right: 1px solid #2f4368; }
div.uniform-jeans.uploader.disabled span.action, div.uniform-jeans.uploader.disabled.active span.action {
  color: #FFE000; }
div.uniform-jeans.uploader.disabled span.filename, div.uniform-jeans.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #FFE000; }

span.uniform-jeans input.uniform-input, span.uniform-jeans input.uniform-input:focus,
span.uniform-jeans select.uniform-multiselect,
span.uniform-jeans select.uniform-multiselect:focus,
span.uniform-jeans textarea.uniform,
span.uniform-jeans textarea.uniform:focus {
  background-repeat: repeat; }

@media only screen and (min-resolution: 124dpi), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
  div.uniform-jeans.selector, div.uniform-jeans.selector span, div.uniform-jeans.checker span, div.uniform-jeans.radio span, div.uniform-jeans.uploader, div.uniform-jeans.uploader span.action, div.uniform-jeans.button, div.uniform-jeans.button span {
    background-image: url("../img/sprite-retina-jeans.png");
    background-size: 493px; }

  span.uniform-jeans input.uniform-input,
  span.uniform-jeans select.uniform-multiselect,
  span.uniform-jeans textarea.uniform {
    background-image: url("../img/bg-input-retina-jeans.png");
    background-size: 60px; }
    span.uniform-jeans input.uniform-input.active,
    span.uniform-jeans select.uniform-multiselect.active,
    span.uniform-jeans textarea.uniform.active {
      background-image: url("../img/bg-input-focus-retina-jeans.png"); } }
/* Reset for the simple example below*/
/* Along with the default theme, this tiny bit of SCSS makes the
 * simple example work. Only use this method when the sprite images
 * depict elements with identical sizes. */
.jeans div.selector, .jeans div.selector span, .jeans div.checker span, .jeans div.radio span, .jeans div.uploader, .jeans div.uploader span.action, .jeans div.button, .jeans div.button span {
  background-image: url("../img/sprite-jeans.png"); }
.jeans span input.uniform-input,
.jeans span select.uniform-multiselect,
.jeans span textarea.uniform {
  background-image: url("../img/bg-input-jeans.png"); }
  .jeans span input.uniform-input.active,
  .jeans span select.uniform-multiselect.active,
  .jeans span textarea.uniform.active {
    background-image: url("../img/bg-input-focus-jeans.png"); }
.jeans input {
  color: #FFE000; }
