html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

*:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: #000;
	background: #fff;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

a img {
	border: none;
}

body {
	line-height: 1.5;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666666;
	font-size: 87.5%;
}

h1 {
	font-size: 2em;
	line-height: 1;
	margin-bottom: 1em;
	font-weight: 200;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

h1.title {
	line-height: 1;
	font-weight: bold;
	color: #444;
	font-size: 3em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	line-height: 1.25;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #444;
}

h2.subtitle {
	font-weight: bold;
	line-height: 1.5;
	color: #666;
	font-size: 1.3em;
	display: inline;
	margin-bottom: 0;
	float: left;
}

h3 {
	color: #222222;
	font-weight: bold;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 5px;
}

h3.link {
	text-decoration: underline;
	cursor: pointer;
}

p {
	margin: 0 0 1.5em;
}

a {
	text-decoration: underline;
	color: #3e6b99;
}

a:visited {
	color: #3e6b99;
}

a:focus {
	color: #3e6b99;
}

a:hover {
	color: #5184b9;
}

a:active {
	color: #3e6b99;
}

em {
	font-style: italic;
}

pre {
	white-space: pre;
	padding: 0;
	margin: 0;
	display: block;
	background: #e5e8eb url('../img/bg-code.png') no-repeat 0 0;
	padding: 10px;
	text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
	left: -120px;
	width: 710px;
	padding-right: 120px;
	padding-left: 120px;
	margin-bottom: 1.5em;
	color: #46596c;
	position: relative;
}

code {
	color: #46596c;
	background: #e5e8eb;
	padding: 3px;
}

pre code {
	padding: 0;
}

pre, code, tt {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

ul {
	margin: 0 1.5em 1.5em 0;
	padding-left: 3.333em;
	list-style-type: disc;
}

table {
	margin-bottom: 1.4em;
	width: 100%;
}

th {
	font-weight: bold;
}

th, td {
	padding: 4px 10px 4px 5px;
}

tr.even td {
	background: #e5ecf9;
}

a {
	color: #3e6b99;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #3e6b99;
}

a:focus {
	color: #3e6b99;
}

a:hover {
	color: #5184b9;
}

a:active {
	color: #3e6b99;
}

a:hover {
	text-decoration: underline;
}

#frame {
	text-align: left;
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	display: inline-block;
	display: block;
}

ul {
	padding-left: 20px;
}

table {
	margin-bottom: 10px;
}

table tr {
	background-color: #e5e8eb;
}

table tr:hover {
	background-color: #dfe3e7;
}

table td {
	border-bottom: solid 3px #fff;
	padding: 10px;
	font-size: .8em;
}

table td.name {
	font-size: 1em;
}

table td.download {
	text-align: right;
	padding-right: 15px;
}

table td.preview {
	padding-left: 0;
	width: 90px;
}

.btn-lg {
	font-size: 1.1em;
	height: 39px;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	border: solid 1px #6e93b0;
	background: url('../img/btn-lg-bg.png') repeat-x 0 0;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
	color: #234e70 !important;
	margin-bottom: 5px;
	padding: 5px 10px;
	line-height: 1.4;
}

.btn-lg img {
	vertical-align: text-top;
	display: inline;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.btn-lg span {
	font-size: .8em;
	font-weight: normal;
	display: block;
	color: #3f6890 !important;
}

.btn-lg:hover {
	text-decoration: none;
}

.btn-lg:active {
	background-position: 0 bottom;
}

.btn {
	font-size: 1em;
	color: #234e70;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
	border: solid 1px #6e93b0;
	background: url('../img/btn-sm-bg.png') repeat-x 0 0;
	height: 27px;
	line-height: 26px;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
	display: inline;
	float: left;
	margin-right: 5px;
	padding: 0 10px;
}

.btn:hover {
	text-decoration: none;
	color: #234e70;
}

.btn:active {
	background-position: 0 bottom;
}

#header {
	margin-top: 60px;
	display: inline;
	float: left;
	margin-right: 0;
	width: 710px;
	padding-left: 120px;
	padding-right: 120px;
	margin-bottom: 40px;
}

* html #header {
	overflow-x: hidden;
}

#header ul.nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	overflow: hidden;
	display: inline-block;
	display: inline;
	float: right;
	font-size: 1.2em;
}

#header ul.nav {
	display: block;
}

#header ul.nav li {
	list-style-type: none;
	margin-left: 0;
	white-space: nowrap;
	display: inline;
	float: left;
	padding-left: 4px;
	padding-right: 4px;
}

#header ul.nav li {
	padding: 0 15px;
}

#intro {
	padding-right: 40px;
	display: inline;
	float: left;
	margin-right: 10px;
	width: 430px;
	padding-left: 120px;
}

* html #intro {
	overflow-x: hidden;
}

#download {
	padding-right: 120px;
	display: inline;
	float: left;
	margin-right: 0;
	width: 230px;
	display: inline;
	float: right;
}

* html #download {
	overflow-x: hidden;
}

#download .github {
	font-size: .9em;
	margin-bottom: 0;
}

#download .version {
	font-size: .8em;
}

#example {
	padding-right: 40px;
	display: inline;
	float: left;
	margin-right: 10px;
	width: 430px;
	padding-left: 120px;
}

* html #example {
	overflow-x: hidden;
}

#example form {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 20px;
}

#example form {
	display: block;
}

#example .select-radio {
	display: inline;
	float: left;
	margin-right: 10px;
	width: 190px;
	padding-right: 40px;
}

* html #example .select-radio {
	overflow-x: hidden;
}

#example .file-checkbox {
	display: inline;
	float: left;
	margin-right: 0;
	width: 190px;
}

* html #example .file-checkbox {
	overflow-x: hidden;
}

#example label {
	font-weight: bold;
	color: #555;
	display: block;
	margin-bottom: 10px;
}

#example .controls {
	clear: both;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 40px;
}

#example .controls {
	display: block;
}

#docs {
	clear: both;
	display: inline;
	float: left;
	margin-right: 0;
	width: 710px;
	padding-right: 120px;
	padding-left: 120px;
	margin-bottom: 20px;
}

* html #docs {
	overflow-x: hidden;
}

#themes {
	display: inline;
	float: left;
	margin-right: 0;
	width: 710px;
	padding-right: 120px;
	padding-left: 120px;
	margin-bottom: 20px;
}

* html #themes {
	overflow-x: hidden;
}

#contribute {
	display: inline;
	float: left;
	margin-right: 0;
	width: 710px;
	padding-right: 120px;
	padding-left: 120px;
	margin-bottom: 10px;
}

* html #contribute {
	overflow-x: hidden;
}

#footer {
	padding-right: 120px;
	padding-left: 120px;
	display: inline;
	float: left;
	margin-right: 0;
	width: 710px;
	font-size: .8em;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: solid 1px #eee;
}

* html #footer {
	overflow-x: hidden;
}

#footer p {
	margin-bottom: 5px;
	color: #999;
}

#footer #pixelmatrix {
	display: inline;
	float: right;
}

.generator label {
	display: block;
	font-weight: bold;
	color: #444;
	margin-bottom: 10px;
	margin-top: 10px;
}

.generator h1 {
	clear: both;
}

.generator h2 {
	margin-top: 20px;
}

.generator input[type='text'] {
	display: inline-block;
	display: inline;
}

.generator .btn {
	margin-top: 10px;
	margin-bottom: 20px;
}

.generator #download-btn {
	margin-top: 20px;
}

.generator #code-col {
	display: inline;
	float: right;
	width: 400px;
}

.generator #code-col textarea {
	margin-bottom: 10px;
	font-family: "Monaco", "Andale Mono", Courier, monospace;
	background-color: #e5e8eb;
	color: #46596c;
	font-size: 11px;
	text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}

.generator #code-col p {
	font-size: .85em;
}
