/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: MIT
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/

$button-height: 32px;
$button-margin-left: 13px;
$button-padding: 9px 15px 0 2px;
$button-span-height: 24px;
$checkbox-height: 23px;
$checkbox-width: 23px;
$input-background: "../img/bg-input-agent.png";
$input-background-focus: "../img/bg-input-agent-focus.png";
$input-padding: 4px;
$radio-height: 23px;
$radio-width: 23px;
$select-fixed-width: 190px;
$select-height: 32px;
$select-margin-left: 12px;
$select-margin-right: 25px;
$select-select-height: 25px;
$select-select-top: 4px;
$sprite: "../img/sprite-agent.png";
$upload-action-width: 90px;
$upload-filename-margin-top: 0px;
$upload-filename-margin-bottom: 0px;
$upload-filename-margin-left: 4px;
$upload-filename-width: 76px;
$upload-filename-padding: 0 10px;
$upload-height: 32px;
$upload-width: 190px;

@import "../../_base/css/uniform._base.scss";

#{$class-wrapper-element}#{$class-wrapper} input#{$class-input},
#{$class-wrapper-element}#{$class-wrapper} select#{$class-multiselect},
#{$class-wrapper-element}#{$class-wrapper} textarea#{$class-textarea} {
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
	background-color: #434343;
	border-top: solid 1px #1a1a1a;
	border-left: solid 1px #1a1a1a;
	border-bottom: solid 1px #1c1c1c;
	border-right: solid 1px #1c1c1c;
	@include border-radius(3px);

	@include whenHover {
		@include box-shadow(0px 0px 4px rgba(0,0,0,0.3));
		border-color: #999;
		background-color: #575757;
	}
}

div#{$class-wrapper}#{$class-button} {
	span {
		color: #ffffff;
		font-weight: bold;
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	@include whenDisabled {
		span {
			color: #bbb;
		}
	}
}

/* Select */
div#{$class-wrapper}#{$class-select} {
	font-weight: bold;
	color: #464545;
	font-size: 14px;

	span {
		padding: 0 25px 0 0;
		color: #fff;
		font-weight: normal;
		text-shadow: 0 1px 0 #fff;
	}

	select {
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size: 1em;
		border: solid 1px #fff;
	}

	@include whenDisabled {
		span {
			color: #bbb;
		}
	}
}

/* Checker */
div#{$class-wrapper}#{$class-checkbox} {
	margin-right: 10px;
}

/* Radio */
div#{$class-wrapper}#{$class-radio} {
	margin-right: 10px;
}

/* Uploader */
div#{$class-wrapper}#{$class-upload} {
	margin-bottom: 20px;
	cursor: pointer;

	span#{$class-action} {
		text-align: center;
		text-shadow: #1a1a1a 0px 1px 0px;
		background-color: #fff;
		font-weight: bold;
		color: #ffffff;
	}

	span#{$class-filename} {
		color: #777;
		font-size: 11px;
	}

	@include whenDisabled {
		span#{$class-action} {
			color: #aaa;
		}

		span#{$class-filename} {
			border-color: #ddd;
			color: #aaa;
		}
	}
}

