/*

Uniform Theme: Aristo
Version: 1.1
By: 280North / Ported by Josh Pyles
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://uniformjs.com/

*/

$button-height: 32px;
$button-margin-left: 13px;
$button-padding: 5px 15px 5px 2px;
$button-span-height: 22px;
$checkbox-height: 23px;
$checkbox-width: 23px;
$input-background-focus: "../img/bg-input-focus-aristo.png";
$input-background: "../img/bg-input-aristo.png";
$input-padding: 4px;
$radio-height: 23px;
$radio-width: 23px;
$select-fixed-width: 190px;
$select-height: 32px;
$select-margin-left: 10px;
$select-margin-right: 25px;
$select-select-height: 24px;
$select-select-top: 4px;
$sprite: "../img/sprite-aristo.png";
$upload-action-width: 90px;
$upload-filename-margin-left: 4px;
$upload-filename-margin-top: 4px;
$upload-filename-margin-bottom: 4px;
$upload-filename-padding: 0 10px;
$upload-filename-width: 76px;
$upload-height: 32px;
$upload-width: 190px;

@import "../../_base/css/uniform._base.scss";

/* INPUT & TEXTAREA */

#{$class-wrapper-element}#{$class-wrapper} input#{$class-input},
#{$class-wrapper-element}#{$class-wrapper} select#{$class-multiselect},
#{$class-wrapper-element}#{$class-wrapper} textarea#{$class-textarea} {
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #777;
	background-color: #a1cbe2;
	border-top: solid 1px #aaa;
	border-left: solid 1px #aaa;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
	@include border-radius(3px);

	@include whenHover {
		@include box-shadow(0 0 4px rgba(0,0,0,0.3));
		border-color: #999;
		background-color: #a1cbe2;
	}
}

/* Uploader */


div#{$class-wrapper}#{$class-button} {
	span {
		font-weight: bold;
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	@include whenHover {
		span {
			color: #555;
		}
	}

	@include whenDisabled {
		span {
			color: #bbb;
		}
	}
}


/* Select */

div#{$class-wrapper}#{$class-select} {
	font-weight: bold;
	color: #464545;
	font-size: 14px;

	span {
		color: #666;
		text-shadow: 0 1px 0 #fff;
	}

	select {
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size: 1em;
		border: solid 1px #fff;
	}

	@include whenDisabled {
		span {
			color: #bbb;
		}
	}
}



/* Checker */
div#{$class-wrapper}#{$class-checkbox} {
	margin-right: 10px;
}

/* Radio */
div#{$class-wrapper}#{$class-radio} {
	margin-right: 10px;
}

div#{$class-wrapper}#{$class-upload} {
	span#{$class-action} {
		text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
		background-color: #fff;
		font-weight: bold;
		color: #1c4257;
	}

	span#{$class-filename} {
		color: #777;
		font-size: 11px;
	}

	@include whenDisabled {
		span#{$class-action} {
			color: #aaa;
		}

		span#{$class-filename} {
			border-color: #ddd;
			color: #aaa;
		}
	}
}
